

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.menu {
  padding-inline: 100px;
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
 background-color: blueviolet;
  top: 0;
  
}

.menu h1 {
  color: white;
}

.navigation {
  display: flex;
  gap: 50px;
}

.navigation a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: white;
  text-transform: uppercase;

}


  
.navigation a:hover {
  text-decoration:underline
}

.section-container {
  height: 100vh;
  width: auto;
  border: 1px solid black;

}

#section1 {
  background-image: linear-gradient(blue, grey, black);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section1 p {
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 800;
  text-transform:capitalize;
}

#section1 h1 {
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 16px;
  text-transform:capitalize;
}

#section1 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section2 #missao {
  text-align: center;
  justify-content: center;
 
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 10px;
  padding: 15px;
}

#section2 #missao h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

#section2 #missao p {
  font-size: 24px;
}

.section-container #section-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-image {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 5px;
  text-align: center;
  width: 30%;
}

.section-image img {
  width: 90%;
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 10px;
}
.section-image:hover img{
  transform: scale(1.04); /*aumenta a imagem 10% ao passar o mouse*/
}

button {
  background-color: brown;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.8s;
}

button:hover {
  background-color: burlywood;
}

button a {
  text-decoration: none;
  color: white;
}

.section-image p {
  margin-bottom: 18px;
  padding: 16px;
  justify-content: center;
}

.section-image img:hover {
  opacity: 0.8;
}


@media (max-width: 768px) {
  .menu {
      padding-inline: 20px;
  }
  .section-image {
      width: 90%; 
  }
}

#section3 {  
  width: 100%;
  background-color: coral;
  padding: 20px;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 17px;
  display: flex;
  flex-direction:column ;
  position: relative;
  margin: 16px;

}

.content1 h1{
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  padding: 16px;
  margin-top: 0;
  margin: 20px;
  font-size: 25px;
}

.content1 h2{
  text-align: left;
  margin-left:10px;
  margin: 16px;
  font-size: 20;
  font-weight: 700;
}

.box{
  border: 3px solid white;
  margin: 10px;
  text-align: left;
  margin-left: 10px;
  
}

.box h2{
  margin: 10px;
}

.box p{
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
}

.content-image img{
  width: 500px;
  height: auto;
}
#section4{
display: inline-block;
}
/*section5*/
.content{
  display: flex;
  ;
  align-items: center;
  flex-direction: row;
  align-items: right;
  gap: 20px;
 border-radius: 2px;

}


.content img{
  margin-left: 20px;
  max-width: 100%;
}
.content ul li{
  list-style-type: none;
 
}
.col{
  margin: 10px;
  padding: 8px;
  font-size: 20px; 
}

.row{
 font-size: 20px; 
 margin: 10px;
}

/*section6*/

#section6 .content {
  margin: 10px;
  padding: 10px;
  align-items: center;
}
#section6 .content img{
  width: 36%;
}
#section6 .content .row .col ul li{
 margin: 15px;
 padding: 10px;
 
}
#section6 .content .row .col p{
 margin: 15px;
 padding: 10px;
}

footer{
  background-color: #111;
  margin-top: 10px;
  
}

.footer-container{
  width:100%;
  padding: 70px 30px 20px;
}
.social-icons{
  display: flex;
  justify-content: center;

}
.social-icons a{
text-decoration: none;
padding: 10px;
background-color: white;
margin: 10px;
border-radius: 20%;
}
.social-icons a i{
  font-size: 2em;
  color: #000;
  opacity: 0.9;
}
.social-icons a:hover i{
  color: #fff;
  transition: 0.5s;
}
.footer-nav{
margin: 30px 0;

}
.footer-nav ul{
  display: flex;
  justify-content: center;
  
}

.footer-nav ul li a{
  color: #fff;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footer-nav ul li a:hover{
  opacity:1;
}

.footer-bottom{
  background-color: black;
  padding: 20px;
  text-align: center;
}

.footer-bottom p{
  color: #fff;
}
