* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.menu {
 padding-inline: 100px;
 height: 8vh;
 width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  opacity: 0.3;
  background-color: #000;
}

.menu h1 {
  color: red;
}
.navigation {
  display: flex;
  gap: 50px;
}
.navigation a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
.navigation a:hover{
  text-decoration: underline;
}

.section-container {
  height: 100vh;
  border: 1px solid red;
}
#section1 {
  background-image: url("./imagens/sequestro2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section1 p {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 600;
}

#section1 h1 {
  font-size: 30px;
  font-weight: 700;
}

#section1 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#section2  #missao{
text-align: center;
justify-content:center;
border: 1px solid red;
background-color: white;
border-radius: 8px;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
width: 100%;
margin: 10px;
padding: 15px;
}
#section2  #missao h1{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}
#section2  #missao p{
  font-size: 24px;  
}

.section-containern #section-image-container {
display: flex; /* Exibe as seções de imagem lado a lado */
flex-direction: row;
justify-content: space-between; /* Espaçamento entre as divs */

}
.section-image {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  text-align: center;
  width: 20%; /* Largura das divs */
}
.section-image img {
  width: 100%; /* Faz com que as imagens ocupem toda a largura da div */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 5px; /* Bordas arredondadas nas imagens */
}
button {
  background-color: #4CAF50; /* Cor de fundo do botão */
  color: white; /* Cor do texto */
  border: none; /* Remove a borda padrão */
  padding: 10px 15px; /* Espaçamento interno do botão */
  border-radius: 5px; /* Bordas arredondadas do botão */
  cursor: pointer; /* Cursor de mão ao passar sobre o botão */
  font-size: 16px; /* Tamanho da fonte do botão */
  transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}
button:hover {
  background-color: #45a049; /* Cor do botão ao passar o mouse */
}
