
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   font-family: sans-serif;   
  }

 

  .conteiner{
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;  
    display: flex;
    flex-direction:column;
    padding: 20px;
  }

  h3{
    margin-bottom: 10px;
  }
  
 .taskbar {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 16px;   
    width: 100%;
    height: 100%;
     
  
 }
 
  
  .links {
    display: flex;
    list-style: none;}
  
  
  .links li {
    margin-left: 50%;
    padding: auto;
    margin-right: 20px;
    margin-bottom: 20px;
  }

 .taskbar li a:hover{
 color: grey;
  }

 .taskbar li a{
    color:black;
    text-decoration: none;
  }

  #header{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size:20px;

  }

  #menu li {
    margin-top: 0px; 
    font-size:20px;
    list-style: none;
    margin-left: 0px;
  

   
  }
  .box{
    display:flex;
    flex-direction: row;
    
   }
  
   .box img{
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
   }
   .box li{
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
   } 

  #menu li a{
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
    justify-content: end;
    margin-top: 20px;
  }
  #menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-right: 40%;

  }
  

  #menu li a:hover{
    color: white;
  }

  #contexto ,#fatores, #impacto, #conclusao{

    padding: 0px;
    margin: 20px;
  }
  #contexto{
    padding: 20px;
    margin: 20px;
  }

  
    #fatores{
        padding: 20px;
        margin: 20px;

       
    }
    #fatores, p, li{

        margin-bottom: 10px;
        text-size-adjust: 10px; 
    }
   
    #fatores li{
      margin-left: 25px;
   
    }
    #margin{
      margin-bottom: 20px;
    }
   
    
    #impacto{

       
        padding: 20px;
        margin: 20px;

   
    }
    #impacto p, li{
        margin-bottom: 10px;
    }
   #impacto li{
    margin-left: 25px;
   
   }
#impacto, p, li{
  margin-bottom: 10px;
}

#conclusao{


  padding: 20px;
    margin: 20px;

 
}
#conclusao p{
  margin-bottom: 10px;
}

  /*footer */

  .footer {
    background-color:darkslategray;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
  }

  .footer ul{
    list-style-type: none;
    color:#fff;
  }

  .footer .row a{
    color:#ccc;
    text-decoration: none;

  }

  .footer .row a:hover{
    color: white;
  }

  .row h3{
    text-align: left;
    padding: 10px;
    padding-left: 0px;
  }
  
.cntt{
  text-align: right;
  padding: 10px;
  
}

.cntt li{
  text-align: right;
  margin-top: 20px;
}


.footer .row {

  background-color: #34495e;
  padding: 20px;
  
}
.footer .cntt {

  
  background-color: #6168a3;
  padding: 20px;
}
.footer h2 {
  margin-top: 0;
}
  

