
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
   
  }
  
 .taskbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    height: 100%;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: crimson;
  }
  
  .links {
    list-style: none;
    display: flex;
    
  }
  #menu{
    border-radius: 15px;
  }
  
  .links li {
    margin-left: 20px;
  }

 .taskbar li a:hover{
 color: grey;
  }

 .taskbar li a{
    color:#fff;
    text-decoration: none;
  }

  #header{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-size:20px;
    font-weight: bold;
    border-radius: 15px;
    background-color: grey;

  }

  #menu li {
    margin-top: 0px;
    text-align: left;
    font-size:20px;
    list-style: none;
    margin-left: 0px;

   
  }

  #menu li a{
    color: black;
    text-decoration: none;
  }
  #menu {
    border-radius: 15px; /* Arredondar as bordas */
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background-color: #ccc;
  }

  #menu li a:hover{
    color: white;
  }

  #contexto ,#fatores, #impacto, #conclusao{
    background-color: #ccc;
    padding: 0px;
    margin: 20px;
  }
  #contexto{
    border-radius: 15px; /* Arredondar as bordas */
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
    #contexto p{
        font-size: 20px;
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;
        margin: 0px;
    }
    #fatores{
        border-radius: 15px; /* Arredondar as bordas */
        padding: 20px;
        margin: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
    }
    #fatores p{
        font-size: 20px;
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;
        margin: 0px;
    }
        #fatores ul li{
          margin-left: 10px;
        }
    
    #impacto{
        border-radius: 15px; /* Arredondar as bordas */
        padding: 20px;
        margin: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
    }
    #impacto p{
        font-size: 20px;
        text-align: justify;
        font-family: 'Times New Roman', Times, serif; 
    }
  
  /*footer */

  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer .col-md-4 {
    flex-basis: 33.33%;
    margin-bottom: 20px;
  }
  
  .footer h4 {
    margin-top: 0;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer li {
    margin-bottom: 10px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #ccc;
  }
  
  .footer p {
    margin-bottom: 0;
  }
