/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  
    color: #333;
    background-color: #f9f9f9;
    margin:0;
  }
  
  /* Header Styles */
  
  .taskbar {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  .taskbar .logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .taskbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .taskbar li {
    margin-right: 20px;
  }
  
  .taskbar a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Content Styles */
  
  #conteiner {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #conteiner h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  
  #conteiner h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  
  #conteiner h3 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
  
  #conteiner p {
    margin-bottom: 1em;
  }
  
  #conteiner ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #conteiner li {
    margin-bottom: 10px;
  }
  
  /* Section Styles */
  
  #contexto {
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  #fatores {
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  #impacto {
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  #conclusao {
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  /* Footer Styles */
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
  }

  
  .taskbar a {
    text-decoration: none;
  }

  .logo{
    background-color: brown;
   margin-top: 20px;
  } 

  a:hover{
    color: red;
  }